<div class="nested-fields">
  <%= render partial: 'dateDebutDateFin', :locals => { :f => f} %>
  <%= f.association :etat_civil, label_method: lambda { |e| "#{e.etat}"} %>
  <%= link_to_remove_association "Enlever cet état civil", f, class: 'btn btn-xs btn-danger' %>
</div>
