<div class="nested-fields">
  <%= render partial: 'dateDebutDateFin', :locals => { :f => f} %>
  <%= f.association :conjoint, label_method: lambda { |c| "#{c.nom} #{c.prenom}"} %>
  <%= link_to_remove_association "Enlever ce conjoint", f, class: 'btn btn-xs btn-danger' %>
</div>
