<div class="col-sm-6">
  <div class="card h-100">
    <div class="card-header">Enfants #<%= index %></div>
    <div class="card-body">
      <div class="form-group string optional disabled enfant_nom">
        <label class="control-label string optional disabled" for="enfant_nom">Nom</label>
        <input id="enfant_nom" class="form-control string optional disabled" disabled="disabled" value="<%= enfant.nom %>" type="text">
      </div>
      <div class="form-group string optional disabled enfant_prenom">
        <label class="control-label string optional disabled" for="enfant_prenom">Prenom</label>
        <input id="enfant_prenom" class="form-control string optional disabled" disabled="disabled" value="<%= enfant.prenom %>" type="text">
      </div>
      <div class="form-group string optional disabled enfant_dateNaissance">
        <label class="control-label string optional disabled" for="enfant_dateNaissance">Date de
          naissance</label>
        <input id="enfant_dateNaissance" class="form-control string optional disabled" disabled="disabled" value="<%= enfant.dateNaissance %>" type="text">
      </div>
    </div>
  </div>
</div>