<h1>Liste des clients</h1>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |c| %>
    <tr>
      <td><%= c.nom %></td>
      <td>Ajouter boutons/links pour Show, Edit, Destroy ici</td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Nouveau Client', new_client_path %>
